Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.bin
*.vcxproj
*.sln
*.filters
backward_projection_siddon.cuh
forward_projection_siddon.cuh
hf_siddon_device_kernel.cuh
hf_siddon_device_kernel_new.cuh
hf_siddon_device_kernel_old.cuh
hf_siddon_kernels.cuh
hf_siddon_kernels_float3.cuh
hf_siddon_kernels_new.cuh
hf_siddon_kernels_old.cuh
main.cu
main2_forward.cu
main_backward.cu
siddon2D.cu
siddon3D.cu
siddon3D_bp.cu
siddon3D_bp_new.cu
siddon3D_float3.cu
siddon3D_new.cu
siddon3D_old.cu
siddon_MLEM.cu
siddon_MLEM_backup.cu
siddon_MLEM_bp.cu
siddon_MLEM_struct.cu
siddon_device_kernelMLEM_backup.cuh
siddon_functions.cuh
siddon_kernelsMLEM_backup.cuh
test_2Darray.cu
*.opensdf
*.sdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/